.education-cont {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

@media screen and (max-width: 768px) {
    .education-cont {
        gap: 3rem;
    }
}