.name-cont {
    color: white;
}

.name-h1 {
    font-size: 5rem;
    margin-block: 0;
}

.name-title {
    font-size: 1.5rem;
    margin-block: 0;
}

.name-p {
    width: 60%;
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
.name-cont {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
}
    
    .name-p {
        widtH: 80%;
        align-self: center;
    }

}